.title {
    font-size: 25px;
}


.formfield {
    width:300px;
    font-size: 16px;
    
}

.formtext2 {
    font-size: 12px;
    color: black;
    margin-bottom:20px;
}


.but{
    margin-top:20px;
    margin-bottom: 20px;
    
}


.login-container {
    height:450px; 
        
}
  

