<div>
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let nanny"> {{nanny.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
            <mat-cell *matCellDef="let nanny"> {{nanny.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="jobType">
            <mat-header-cell *matHeaderCellDef> Job Type </mat-header-cell>
            <mat-cell *matCellDef="let nanny"> {{nanny.jobType}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
            <mat-cell *matCellDef="let nanny"> {{nanny.number}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>