mat-sidenav-container,mat-sidenav-content,mat-sidenav {
  height:100%;
}
mat-sidenav{
  width: 250px;
}
a:hover,a:active{
  color:lightgray;
}
a {
  text-decoration: none;
  color: white;
}
.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}

