<style>
  section {
    max-width: 700px;
    margin: 2em auto;
  
}

mat-form-field {
  width: 100%;

}

img {
  width: 100%;
}
</style>

<section>
  <mat-card>
  <h2> Create a Post</h2>
         
   

      <div>
        <input type="file" name="file" id="file" (change)="uploadImage($event)">
        <div [hidden]="!uploadPercent">
          <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}"></mat-progress-bar>
        </div>
        <div [hidden]="!image">
          <img [src]="image || '//:0'">
        </div>

      </div>

      <mat-form-field>
          <input matInput placeholder="Post Title" [(ngModel)]="title">
        </mat-form-field> 
        <br>
        <mat-form-field>
            <textarea matInput placeholder="Post Content" [(ngModel)]="content" rows="10"></textarea>
        </mat-form-field> 
        <br>
        <button mat-raised-button color="accent" (click)="createPost()" [disabled]="!title || !content || !image">{{buttonText}}</button>
        



      </mat-card>

</section>

