<mat-card class="main_card">
  <mat-card-header>
    <mat-card-title>
      Who is going to need care?
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card class="card1">
      <mat-card-header>
        <mat-card-subtitle>
          My Kids
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/nanny%20(1).jpg" alt="Photo of a nanny">
      <mat-card-footer>
        <a routerLink='/ntable'><button mat-raised-button color="primary" (click)="forKids()">Find Nanny</button></a>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card2">
      <mat-card-header>
        <mat-card-subtitle>
          My Parents
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/nanny%20(1).jpg" alt="Photo of a nanny">
      <mat-card-footer>
        <a routerLink='/ntable'><button mat-raised-button color="primary" (click)="forParents()">Find Nanny</button></a>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card3">
      <mat-card-header>
        <mat-card-subtitle>
          My Pets
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/nanny%20(1).jpg" alt="Photo of a nanny">
      <mat-card-footer>
        <a routerLink='/ntable'><button mat-raised-button color="primary" (click)="forPets()">Find Nanny</button></a>
      </mat-card-footer>
    </mat-card>

    <mat-card class="card4">
      <mat-card-header>
        <mat-card-subtitle>
          My Home
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/nanny%20(1).jpg" alt="Photo of a nanny">
      <mat-card-footer>
        <a routerLink='/ntable'><button mat-raised-button color="primary" (click)="forHomes()">Find Nanny</button></a>
      </mat-card-footer>
    </mat-card>
  </mat-card-content>
</mat-card>
