
/*.main{
  height: 500px;
}*/

.caregiver {
  width: 45%;
  height: 60%;
  //margin-bottom: 50px;
  float: left;
}

.job {
  width: 45%;
  height: 60%;
  //margin-bottom: 50px;
  float: right;
}
/*
.main{
  height: 500px;
}

.caregiver {
  width: 45%;
  height: 200px;
  //margin-bottom: 50px;
  float: left;
}

.job {
  width: 45%;
  height: 200px;
  //margin-bottom: 50px;
  float: right;
}*/
