.vhp-schwingy-parent.vhp-schwingy-parent-condensed {
  top: 270px;
}
.vhp-schwingy-parent.vhp-schwingy-parent-condensed {
  top: 270px;
}
.vhp-schwingy-parent {
  position: absolute;
  top: 350px;
  left: 0px;
  width: 100%;
  z-index: 100;
}
.vhp-schwingy-parent {
  position: absolute;
  top: 350px;
  left: 0;
  width: 100%;
  z-index: 100;
}
