<<<<<<< HEAD
.main{
  height: 500px;
}

.caregiver {
  width: 45%;
  height: 200px;
  //margin-bottom: 50px;
  float: left;
}

.job {
  width: 45%;
  height: 200px;
  //margin-bottom: 50px;
  float: right;
}
=======
.main{
  height: 500px;
}

.caregiver {
  width: 45%;
  height: 200px;
  //margin-bottom: 50px;
  float: left;
}

.job {
  width: 45%;
  height: 200px;
  //margin-bottom: 50px;
  float: right;
}
>>>>>>> d3a6557c6445a9da6c19f225f715752a4889f955
