.container{

    display: flex;
    height: 100%;
}

.cont1{
padding: 40px;
height: 100%;
}

.cont2{
padding: 40px;
height: 100%;
}

.detailbar{
    height: 800px;
    width: 200px;
    align-content: center;
    
}

.detailbar h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 7, 116);
    text-align: center;
}

.detailbar button{
    align-items: center;
}
.example-card{
    height: auto;
    width: 300px;
}

.detailbar-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.detailbar button{
    margin: 10px;
    width: 130px;
}

.coverphoto{
    width: 100%;
    height: 250px;;
}
.coverphoto img{
    width: 100%;
    height: 100%;
}

.icons{
    padding: 20px;

}
.icons a{
    text-decoration: none;
}

.icons li{
    list-style: none;
    height: 50px;
}