<mat-card class="main">

  <mat-card-header>
    <mat-card-title>Login as a...</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <mat-card class="caregiver">
      <mat-card-subtitle>
        Nanny
      </mat-card-subtitle>
      <img mat-card-image src="../../../assets/img/nanny%20(1).jpg" alt="Photo of a nanny">
      <a routerLink="/nlogin"><button mat-raised-button color="primary">Login</button></a>

    </mat-card>

    <mat-card class="job">
      <mat-card-header>
        <mat-card-subtitle>
          Customer
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/nanny.jpg" alt="Photo of a nanny-job">
      <a routerLink="/clogin"><button mat-raised-button color="primary">Login</button></a>
      <!--<mat-card-content>

        <button mat-raised-button color="primary">Find Job</button>
      </mat-card-content>-->
    </mat-card>

  </mat-card-content>

</mat-card>
