.grid-container {
  margin: 20px;
}
  
.dashboard-card {
  margin-left: 64px;
  margin-top: 15px;
  margin-bottom:55px; 
 
}

a {
  text-decoration: none;  
}

.card-text {
  text-align: center;
  margin-top: 15px;
  font-size: 17px;
}



 