<div class="grid-container">

  <h1 class="mat-h1">Dashboard</h1>

  <div class="row">

    <a routerLink="/caretakers">
      <mat-card class="dashboard-card">
        <div class="column">
          <img src="../../../assets/img/caregivers.png" alt="caregivers" height="110px" width="110px">
          <mat-card-content class="card-text">Caretakers</mat-card-content>
        </div>
      </mat-card>
    </a>

    <a routerLink="/#">
      <mat-card class="dashboard-card">
        <div class="column">
          <img src="../../../assets/img/clients.png" alt="clients" height="110px" width="110px">
          <mat-card-content class="card-text">Clients</mat-card-content>
        </div>
      </mat-card>
    </a>

    <a routerLink="/homeblog">
      <mat-card class="dashboard-card">
        <div class="column">
          <img src="../../../assets/img/blog.png" alt="blog" height="110px" width="110px">
          <mat-card-content class="card-text">Blog</mat-card-content>
        </div>
      </mat-card>
    </a>

    <a routerLink="/#">
      <mat-card class="dashboard-card">
        <div class="column">
          <img src="../../../assets/img/reports.png" alt="reports" height="110px" width="110px">
          <mat-card-content class="card-text">Reports</mat-card-content>
        </div>
      </mat-card>
    </a>

    <a routerLink="/#">
      <mat-card class="dashboard-card">
        <div class="column">
          <img src="../../../assets/img/ratings.png" alt="ratings" height="110px" width="110px">
          <mat-card-content class="card-text">Reviews</mat-card-content>
        </div>
      </mat-card>
    </a>

    <a routerLink="/#">
      <mat-card class="dashboard-card">
        <div class="column">
          <img src="../../../assets/img/feedback.png" alt="feedback" height="110px" width="110px">
          <mat-card-content class="card-text">Forum</mat-card-content>
        </div>
      </mat-card>
    </a>

  </div>
  
  
</div>


  